# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info/
dist/
build/
*.spec

# PyInstaller
*.exe
*.app

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# 빌드 결과물 (dist는 빼도 됨, 선택)
# dist/
# build/